:root {
  --background: #ffffff;
  --green: #86bd3d;
  --whatsapp: #47c655;
  --whatsapp_hover: #24792e;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
}

body {
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;         
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 20px; 
  border: 3px solid var(--background);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Escurece a imagem (0.5 é a opacidade) */
}